fastapi==0.109.2
uvicorn[standard]==0.23.2
langchain==0.1.150
langchain-community==0.0.36
langchain-openai==0.0.13
langchain-text-splitters==0.0.12
faiss-cpu==1.7.4
pypdf==3.20.0
python-dotenv==1.0.1
groq==0.4.5
python-multipart==0.0.6
rank_bm25==0.5.5
langchain-classic==0.0.22
supabase==1.4.0
chromadb==0.3.28
